* {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.content-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
  }

.header {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

#kysymys {
	margin-bottom: 10px;
}

.choiceButtonGreen {
    background-color: #8BC980; /* Green */
    border-width: thick thin thin thin;
	border-style: solid;
	border-color: white;
    color: white;
    height: 80px;
    width:  110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

.choiceButtonBlue {
    background-color: #0082C8; /* Green */
    border-width: thick thin thin thin;
	border-style: solid;
	border-color: white;
    color: white;
    height: 80px;
    width:  110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

.choiceButtonGreenDisabled {
    background-color: #8BC980; /* Green */
    border-width: thick thin thin thin;
	border-style: solid;
	border-color: white;
    color: white;
    height: 80px;
    width:  110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

.choiceButtonBlueDisabled {
    background-color: #0082C8; /* Green */
    border-width: thick thin thin thin;
	border-style: solid;
	border-color: white;
    color: white;
    height: 80px;
    width:  110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
}

.newQuestionButton {
    background-color: F1F1F1;
    color: black;
    border: none;
    height: 70px;
    width:  330px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;    
}

div, h1 {
    font-size: 30pt;
    max-height: 999999px;
}

.credits {
    font-size: 10pt;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1024px) {
    .content-wrapper {
        overflow-y: visible;
      }
	  
    h1,p {
        margin-top: 0;
    }
	
	#kysymys {
		font-size: 18pt;
		margin-top: 0;
	}
	
	#vaihtoehdot {
		font-size: 18pt;
	}
	#kierros {
		font-size: 18pt;
    }	
	.choiceButtonBlue {
        font-size: 18pt;
	}
	.choiceButtonGreen {
        font-size: 18pt;
	}
	.choiceButtonBlueDisabled {
		font-size: 18pt;
	}
	.choiceButtonGreenDisabled {
		font-size: 18pt;
	}
	.newQuestionButton {
        font-size: 18pt;
    }

	
}